body {
	background: #000000;

}

#preload {
	 width: 100%;
	 height:100%;
	 background-color: black;
	 opacity: 0.9;
	 z-index: 999999999;
	 position: absolute;
}

 h1 {
 	color: #0000ff;
 	margin-left: 8%;
 	height: 100%;
 	width: 70%;
 	margin-top: 5%;
 	margin-bottom: 0%;
 }

 h2 {
 	color: #0000ff;
 	margin-left: 8%;
 	height: 80%;
 	width: 50%;
 	margin-top: 2%;
 	margin-bottom: 0%;
 	font-family: roman;
 }

 hr {
 	margin-top: 1%;
 }

 .wtext {
 	color: #ffffff;
 	font-size: 100%;
 }

.ctab {
 	text-align: center;
 	width: 100%;
 }

.tabs {
 	padding: 0px;
 	margin-top: 2%;
 	width: 25%;
 	height: 25%;
 }

 .tab {
 	height: 300%;
 	width: 100%;
 	font-size: 100%;
 	margin: 0px;
 	margin-top: 5%;
 	padding-top: 10%;
 	padding-bottom: 10%;
 	font-size: 120%;
 	font-family: impact;
 	font-color: blue;
 	font-size-adjust: 0.58;
 	white-space: normal;
 	z-index: 0;
 }
.tab:active {
	background-color: #01083d;
 	border-bottom-right-radius: 0px;
  	border-bottom-left-radius: 0px;
}
.tab:hover {
	background-color: #01083d;
 	border-bottom-right-radius: 0px;
  	border-bottom-left-radius: 0px;
}
@media (max-width: 500px) {
  .tab {
    font-size:80%;
  }
}
@media (min-width: 501px) and (max-width: 992px) {
  .tab {
    font-size:120%;
  }
}

.imgtab {
	width: 15%;
 	padding: 0px;
 }

.imgtit {
 	height: 40%;
 	width: 50%;
 	min-height: 30px;
 	min-width: 30px;
 	text-align: left;
 	margin-left: -10%;
 }
 @media (max-height: : 480px) and (max-width: 320px) {
	.imgtit {
	 	min-height: 15px;
	 	min-width: 15px;
	 }
 }
 @media ((min-height: 481px) and (max-height: : 800px)) and ((min-width: 321px) and (max-width: 480px)) {
	.imgtit {
	 	min-height: 20px;
	 	min-width: 20px;
	 }
 }

.menu {
	background-color: #01083d;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 3px;
	width: 99%;
	margin-left: 0.5%;
	z-index: 10;
	max-width: 1335.500px;
	border-bottom: solid #01083a;
}

.menu2 {
	background-color: #01083d;
	position: absolute;
	height: 3px;
	width: 99%;
	margin-top: 7%;
	margin-left: 0.5%;
	z-index: -1;
	max-width: 1335.500px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.refresh {
 	color: #0000ff;
 /*	height: 70%;
 	width: 70%;
 	margin-top: 50%;
 	display: block;
 */}
.refresh:active {
 	color: #5050ff;
 }


 .iadd {
 	height: 100%;
 	width: 40%;
 	text-align: center;
 	vertical-align: center;
 	margin-top: 2%;
 }

 .add {
 	color:#00d900;
 	text-align: left;
 }
 .add:active {
 	color:#008a00;
 	text-align: left;
 }
.fechaweb {
 	height: 100%;
 	width: 90%;
	border: 3px solid rgb(0, 0, 150);
 	text-align: center;
	overflow: hidden; 
	margin: 5% auto; 
 }

 .imgfecha {
 	height: 100%;
 	min-height: 950px;
 	width: 100%;
 	text-align: center;
	margin-top: -140px; 
	margin-bottom: 0px;
 }

 .tablaweb {
 	width: 100%;
	overflow: hidden; 
 }

 .iframe {
 	height: 50%;
 	width: 100%;
	border: 0px none; 
	min-height: 610px;
	margin-left: -7px;
 }

.tabsel {
  background-color: #01083d;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.contenido {
	margin-top: 2%;
}

.autowrap {
	width: auto;
	height: auto;
	max-height: 100%;
}

.mImg {
	text-align: center;
	height: 100%;
	width: 100%;
}

.glyphicon-remove {
	color: #ff0000;
}

.glyphicon-ok {
	color: #00ff00;
}

.invalidtxt {
  border: 1px solid #ec514e;
}

.rmark {
	background-color: #ff0000;
}

.name {
	font-size: 140%;
}

.jugtitle {
	margin-top:15px; 
	font-size: 190%;
}

#cancel #dall {
	min-width: 45px;
	margin-top: 1%;
	padding-top: 4px;
	padding-left: 8px;
	padding-bottom: 4px;
	padding-right: 8px;
}

#save {
	min-width: 45px;
	margin-right: 2%;
	margin-top: 1%;
	padding-top: 4px;
	padding-bottom: 4px;
}

#edit {
	font-size: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0px;
	vertical-align: center;
}

.scroll {
	overflow: hidden;
}

#loader {
    background: transparent;
    background-color: #111111;
    width: 100%;
    height: 100%;   
	position: absolute;
}
#loaderimg {
	position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1000;
}

#chkhayfecha {
	height: 5%;
	width: 5%;
	
}

/*animations*/
.rotate {
	-webkit-animation: rotate 1.6117s 1 linear;
}
@-webkit-keyframes rotate {
	from { -webkit-transform: rotate(4deg);}
	to { -webkit-transform: rotate(360deg);}
}

.bounce {
-webkit-animation: bounce 0.4829s infinite ease-in-out;
}
@-webkit-keyframes bounce {
from { -webkit-transform: rotate(0deg) scale(0.989) skew(18deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(0.989) skew(-21deg) translate(0px); }
}
}

/*switch*/
/*.topcoat-switch {
	position: relative;
	display: inline-block;  
	padding: 0 1.25rem;
	border-radius: 6px;
	border: 1px solid #a5a8a8;
	overflow: hidden;
	width: 6rem;
  
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.topcoat-switch__input {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	border: 0;
  
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
	filter: alpha(opacity=0.1);
	opacity: 0.001;
}

.topcoat-switch__toggle,.button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	background: transparent;
	border: none;
	cursor: default;
  
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topcoat-switch__toggle {
	line-height: 3rem;
	height: 3rem;
	width: 2rem;
	border-radius: 5px;
	color: #454545;
	text-shadow: 0 1px #fff;
	background-color: #e5e9e8;  
	border: 1px solid #a5a8a8;
	margin-left: -1.3rem;
  margin-bottom:-1px;
  margin-top:-1px;

  -webkit-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px #fff;
  
	-webkit-transition: margin-left 0.05s ease-in-out;
	-moz-transition: margin-left 0.05s ease-in-out;
	-o-transition: margin-left 0.05s ease-in-out;
	-ms-transition: margin-left 0.05s ease-in-out;
	transition: margin-left 0.05s ease-in-out;
}

.topcoat-switch__input:checked + .topcoat-switch__toggle {
	margin-left: 2.7rem;
}

.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
	position: absolute;
  
	width: 5rem;
	z-index: -1;
 
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.topcoat-switch__toggle:before {
	content: 'ON';
	color: #0083e8;
	background-color: #e0f0fa;
	border-radius: 0;
	top: -1px;
	right: 1rem;
  padding-left: 1.5rem;
}

.topcoat-switch__toggle:after {
	content: 'OFF';
	background-color: #d3d7d7;
	top: -1px;
	left: 1rem;
  padding-left: 2rem;
}*/
